#expenseChart {
  max-width: 400px;
  max-height: 400px;
  margin: 20px auto;
  display: block;
}

#remainChart {
  max-width: 400px;
  max-height: 400px;
  margin: 20px auto;
  display: block;
}

#downloadReportBtn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #10ce5c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#downloadReportBtn:hover {
  background-color: #0b7dda;
}
